body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

}
.inputSection {
  margin: 50px 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  width:inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.answer {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
